body {
    padding: 0;
    background-color: #ccc;
}

p.error {
    color: red;
}

#header,
#footer,
#main_container {
    padding: 20px;
}

#header {
    background-color: rgb(255, 218, 143);
    background-image: "../images/niichavo.jpg";
    height: 25vh;
}

#head {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(74, 58, 19);
}

#link {
    display: flex;
    justify-content: center;
}

a {
    margin: 20px;
    font-size: 20px;
    color: rgb(74, 58, 19);
}

a:hover {
    color: rgb(255, 0, 0);
}

#footer {
    background-color: rgb(214, 214, 251);
    height: 15vh;
}

#main_container {
    background-color: cornsilk;
    height: 100vh;
}

.main_page {
    margin-left: 450px;
    height: 200px;
    width: 560px;
    font-size: 18px;
    text-align: justify;
}

.catalog_page {
    margin-left: 150px;
    font-size: 18px;
    text-align: justify;

}

#vert {
    display: flex;
    justify-content:space-around;
}

#kartochka {
    height: 350px;
    width: 350px;
}

#warning {
    display: flex;
    justify-content: center;
    margin-left: 450px;
    height: 100px;
    width: 600px;
    text-align: center;
    font-size: 18px;
}

#login_page {
    display: flex;
    justify-content: center;

}

#button {
    margin-top: 10px;
}

.error {
    margin-top: 100px;
    margin-right: 100px;
}

